### Q1. Create a list of five integers and print it.

### Q2. Write a program to find the length of a list.

### Q3. Create a tuple with three elements and print the second item.

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

### Q5. Write a program to convert a list into a set.

### Q6. Create a string and print its first and last characters.

### Q7. Take input from the user and print it.

### Q8. Write a program to add two numbers entered by the user.

### Q9. Use `type()` function to check the data type of a variable.

### Q10. Create a boolean variable and print it.

### Q11. Check if a number is positive, negative, or zero using `if` statement.

### Q12. Write a program to check if a number is even or odd.

### Q13. Write a program that prints your name 3 times using a `for` loop.

### Q14. Write a `for` loop that prints numbers from 1 to 10.

### Q15. Use a `for` loop to iterate over a list and print each element.

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

### Q18. Write a `for` loop to print each character in a string.

### Q19. Use a `for` loop to print all values in a dictionary.

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

### Q21. Create a list of your 5 favorite fruits.

### Q22. Add a new fruit to your list of favorite fruits.

### Q23. Remove the second item from a list.

### Q24. Sort a list of numbers in descending order.

### Q25. Find the maximum and minimum values in a list.

### Q26. Count how many times a value appears in a list.

### Q27. Check if a specific value exists in a list.

### Q28. Reverse a list without using reverse() function.

### Q29. Make a copy of a list and modify the copy only.

### Q30. Use slicing to get the first 3 items of a list.

### Q31. Create a tuple with 4 elements and print its length.

### Q32. Access the last element of a tuple.

### Q33. Convert a tuple into a list.

### Q34. Convert a list into a tuple.

### Q35. Check if a value exists in a tuple.

### Q36. Concatenate two tuples.

### Q37. Repeat a tuple 3 times.

### Q38. Find the index of an element in a tuple.

### Q39. Use tuple unpacking to assign values to variables.

### Q40. Create a nested list and access an inner element.

### Q41. Create a set of 5 unique colors.

### Q42. Add a new color to the set.

### Q43. Remove an item from the set using `remove()`.

### Q44. Use `discard()` to remove an item that may or may not exist.

### Q45. Create a set from a list with duplicate values.

### Q46. Find the union of two sets.

### Q47. Find the intersection of two sets.

### Q48. Find the difference between two sets.

### Q49. Check if a set is a subset of another set.

### Q50. Check if two sets are disjoint.

### Q51. Create a dictionary with 3 items: name, age, and city.

### Q52. Add a new key-value pair to the dictionary.

### Q53. Update the value of an existing key in the dictionary.

### Q54. Remove a key from the dictionary using `pop()`.

### Q55. Check if a key exists in the dictionary.

### Q56. Loop through a dictionary and print all keys and values.

### Q57. Get all keys from a dictionary using `keys()`.

### Q58. Get all values from a dictionary using `values()`.

### Q59. Get all key-value pairs using `items()`.

### Q60. Create a dictionary from two lists: one for keys and one for values.