### Q1. Create a list of five integers and print it.

In [10]:
x = [1, 2, 3, 4, 5]
print('list :',x)

list : [1, 2, 3, 4, 5]

### Q2. Write a program to find the length of a list.

In [3]:
x = [1, 2, 3, 4, 5]
print(len(x))

5

### Q3. Create a tuple with three elements and print the second item.

In [5]:
y= (1,2,3)
print(y[1])

2

### Q4. Create a dictionary with 3 key-value pairs and print all keys.

In [6]:
x = {'a': 1, 'b': 2, 'c': 3}
print( x.keys())

dict_keys(['a', 'b', 'c'])

### Q5. Write a program to convert a list into a set.

In [10]:
listunconv=[1,2,3,3,4,5]
listcnve=set(listunconv)
print(listcnve)
print(type(listcnve))

{1, 2, 3, 4, 5}
<class 'set'>

### Q6. Create a string and print its first and last characters.

In [11]:
name='ali'
print(name[0])
print(name[2])

a
i

### Q7. Take input from the user and print it.

In [1]:
x = input("enter value")
print( 'result',x )

result 3

### Q8. Write a program to add two numbers entered by the user.

In [7]:
x=int(input("enter value"))
y=int(input("enter value"))
z=x+y
print('result',z)

result 3

### Q9. Use `type()` function to check the data type of a variable.

In [8]:
name='ali'
print(type(name))

<class 'str'>

### Q10. Create a boolean variable and print it.

In [9]:
res = True
print("resuly", res)

resuly True

### Q11. Check if a number is positive, negative, or zero using `if` statement.

In [20]:
x = int(input("Enter a number: "))
print(x)

if x>0 :
 print("num is positive +")
elif x<0 :
 print("num is negative -")
else :
 print("num = 0")

4
num is positive +

### Q12. Write a program to check if a number is even or odd.

In [1]:
x= int(input("enter value"))
print (x)

if x % 2 == 0:
    print("num is even ")
else:
    print("num is odd")

3
num is odd

### Q13. Write a program that prints your name 3 times using a `for` loop.

In [3]:
for i in range(3):
    print("ali")

ali
ali
ali

### Q14. Write a `for` loop that prints numbers from 1 to 10.

In [26]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

### Q15. Use a `for` loop to iterate over a list and print each element.

In [27]:
liststr = ['ali', 'mo', 'turky']

for i in liststr:
    print(i)

ali
mo
turky

### Q16. Write a program to calculate the sum of numbers from 1 to 100.

In [ ]:
res = sum(range(1, 101))
print(res)


s = 0
for i in range(1, 101):
    s=s+i
print( s)

5050
5050

### Q17. Write a `for` loop that prints only even numbers from 1 to 20.

In [8]:
for i in range(2,21) :
   if i % 2==0 :
    print(i)
   else :
    pass

2
4
6
8
10
12
14
16
18
20

### Q18. Write a `for` loop to print each character in a string.

In [37]:
name= "ali"

for i in name:
    print(i)

a
l
i

### Q19. Use a `for` loop to print all values in a dictionary.

In [38]:
dicts = {'a':1, 'b':2, 'c': 3}

for i in dicts.values():
    print(i)

1
2
3

### Q20. Write a program that uses a `for` loop to find the factorial of a number.

In [23]:
x= int(input()) 
f = 1
for i in range(1, x+1):
    f*= i

print(f)

120

### Q21. Create a list of your 5 favorite fruits.

In [2]:
listf = ['تفاح', 'كيوي', 'برتقال', 'منجا', 'موز']
print(listf)

['تفاح', 'كيوي', 'برتقال', 'منجا', 'موز']

### Q22. Add a new fruit to your list of favorite fruits.

In [49]:
listf = ['تفاح', 'كيوي', 'برتقال', 'منجا', 'موز']
listf.append('فروله')
print(listf)

['تفاح', 'كيوي', 'برتقال', 'منجا', 'موز', 'فروله']

### Q23. Remove the second item from a list.

In [55]:
listf = ['تفاح', 'كيوي', 'برتقال', 'منجا', 'موز']
listf.pop(1)
print(listf)

['تفاح', 'برتقال', 'منجا', 'موز']

### Q24. Sort a list of numbers in descending order.

In [5]:
nums = [5, 2, 9, 1, 7]
print(sorted(nums,reverse=True))

[9, 7, 5, 2, 1]

### Q25. Find the maximum and minimum values in a list.

In [60]:
nums = [5, 2, 9, 1, 7]
maxn=max(nums)
minn=min(nums)
print(maxn)
print(minn)

9
1

### Q26. Count how many times a value appears in a list.

In [64]:
nums = [5, 3, 3, 9, 1, 7]
con=nums.count(3)
print(con)

2

### Q27. Check if a specific value exists in a list.

In [ ]:
nums = [5, 3, 3, 9, 1, 7]
con=nums.count(3)
print(con)

### Q28. Reverse a list without using reverse() function.

In [68]:
lists = ['apple', 'banana', 'orange']

if 'banana' in lists:
 print("Yes in the list.")
else:
 print(" not in the list.")

Yes in the list.

### Q29. Make a copy of a list and modify the copy only.

In [ ]:

list1=['ali', 'lol', 'dod']

list2=list1.copy()

list2.append('mango')

print(list1)
print( list2)

['ali', 'lol', 'dod']
['ali', 'lol', 'dod', 'mango']

### Q30. Use slicing to get the first 3 items of a list.

In [3]:


list1=['ali', 'lila', 'mohamed','ahmed']
print(list1[0:3])

['ali', 'lila', 'mohamed']

### Q31. Create a tuple with 4 elements and print its length.

In [74]:
tup=('ali','mo','tork','lila')
print(len(tup))

4

### Q32. Access the last element of a tuple.

In [6]:
tup=('ali','mo','tork','lila')
print(tup[3])

lila

### Q33. Convert a tuple into a list.

In [7]:
tup=('ali','mo','tork','lila')

print(list(tup))

['ali', 'mo', 'tork', 'lila']

### Q34. Convert a list into a tuple.

In [8]:
lists=['ali','mo','lila']
print(tuple(lists))

('ali', 'mo', 'lila')

### Q35. Check if a value exists in a tuple.

In [11]:
tup=('ali','mo','tork','lila')
if 'mo' in tup :
 print('value exists in a tuple')
else:
 print('value not exists in a tuple')

value exists in a tuple

### Q36. Concatenate two tuples.

In [12]:
tup1=('ali','mo')
tup2=('tork','lila')
print(tup1+tup2)

('ali', 'mo', 'tork', 'lila')

### Q37. Repeat a tuple 3 times.

In [14]:
tup=('ali','mo')
for i in range(3) :
 print(tup)

('ali', 'mo')
('ali', 'mo')
('ali', 'mo')

### Q38. Find the index of an element in a tuple.

In [19]:
tup=('ali','mo','tork','lila')
print(tup.index('mo'))

1

### Q39. Use tuple unpacking to assign values to variables.

In [4]:
t= (1,2,3,4)
t1,t2,t3,t4 = t
print(t2)

2

### Q40. Create a nested list and access an inner element.

In [20]:
listmul= [ [1,2],['a','b'] ]
print(listmul[0][1])

2

### Q41. Create a set of 5 unique colors.

In [21]:
col= {'red','blue','green','yellow','purple'}
print(col)

{'purple', 'green', 'yellow', 'red', 'blue'}

### Q42. Add a new color to the set.

In [2]:
col= {'red','blue','green','yellow','purple'}
col.add('black')
print(col)

{'black', 'red', 'blue', 'purple', 'green', 'yellow'}

### Q43. Remove an item from the set using `remove()`.

In [33]:
col= {'red','blue','green','yellow','purple'}
col.remove('red')
print(col)

{'purple', 'green', 'yellow', 'blue'}

### Q44. Use `discard()` to remove an item that may or may not exist.

In [36]:
col= {'red','blue','green','yellow','purple'}
col.discard('red')
print(col)

{'purple', 'green', 'yellow', 'blue'}

### Q45. Create a set from a list with duplicate values.

In [38]:
list1= ['ali','mo','ali']
print( set(list1))

{'mo', 'ali'}

### Q46. Find the union of two sets.

In [39]:
s1 = {12, 22, 5, 16, 5, 7}
s2 = {5, 7, 16, 60, 41, 52, 33}
s1.union(s2)

{5, 7, 12, 16, 22, 33, 41, 52, 60}

### Q47. Find the intersection of two sets.

In [42]:
s1 = {12, 22, 5, 16, 5, 7}
s2 = {5, 7, 16, 60, 41, 52, 33}
s1.intersection(s2)

{5, 7, 16}

### Q48. Find the difference between two sets.

In [2]:
s1 = {12, 22, 5, 16, 5, 7}
s2 = {5, 7, 16, 60, 41, 52, 33}
s2.difference(s1)

{33, 41, 52, 60}

### Q49. Check if a set is a subset of another set.

In [3]:
s1 = {12, 22, 5, 16, 5, 7}
s2 = {5, 7, 16, 60, 41, 52, 33}
issub= s1.issubset(s2)
print(issub)

False

### Q50. Check if two sets are disjoint.

In [6]:
s1 = {1, 2, 3}
s2 = {4, 5, 6}

disjoint = s1.isdisjoint(s2)

print(disjoint)

True

### Q51. Create a dictionary with 3 items: name, age, and city.

In [7]:
dic = { 'name': 'Ali', 'age': 25, 'city': 'Cairo'}
print(dic)

{'name': 'Ali', 'age': 25, 'city': 'Cairo'}

### Q52. Add a new key-value pair to the dictionary.

In [8]:
dic = { 'name': 'Ali', 'age': 25, 'city': 'Cairo'}
dic.update({'depatement':'eng'})
print(dic)

{'name': 'Ali', 'age': 25, 'city': 'Cairo', 'depatement': 'eng'}

### Q53. Update the value of an existing key in the dictionary.

In [9]:
dic = {'name': 'Ali', 'age': 25, 'city': 'Cairo'}
dic['age'] = 30
print(dic)

{'name': 'Ali', 'age': 30, 'city': 'Cairo'}

### Q54. Remove a key from the dictionary using `pop()`.

In [ ]:
dic={'name': 'Ali', 'age': 25, 'city': 'Cairo'}
print(dic.pop('age'))

25

### Q55. Check if a key exists in the dictionary.

In [11]:
dic={'name':'Ali','age': 25,'city':'Cairo'}

if 'age' in dic:
 print("Key 'age' is exists ")
else:
 print("Key 'age' does not exist")

Key 'age' is exists

### Q56. Loop through a dictionary and print all keys and values.

In [13]:
dic={'name': 'Ali', 'age': 25, 'city': 'Cairo'}
for key, value in dic.items():
    print(key, ":", value)

name : Ali
age : 25
city : Cairo

### Q57. Get all keys from a dictionary using `keys()`.

In [17]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
keys = my_dict.keys()
print(keys)

dict_keys(['a', 'b', 'c'])

### Q58. Get all values from a dictionary using `values()`.

In [16]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
values = my_dict.values()
print(values)

dict_values([1, 2, 3])

### Q59. Get all key-value pairs using `items()`.

In [18]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
items = my_dict.items()
print(items)

dict_items([('a', 1), ('b', 2), ('c', 3)])

### Q60. Create a dictionary from two lists: one for keys and one for values.

In [22]:

values =[89, 39, 5, 90]
keys = ['ali','mo','lila','abdo']
mark = dict(zip(keys,values))
print(mark)

{'ali': 89, 'mo': 39, 'lila': 5, 'abdo': 90}