### **Recap**
- **print(object, end='\n', sep=' ')**
- **Escape Charaters:**
    - **`\n`:**  New Line
    - **`\t`:**  Tab
    - **`\\`:** Backslash
    - **`\'` :** Single Quote
    - **`\"` :** Double Quote
- **Data Types**
    - **Text Type:** `str`
    - **Numeric Types:** `int`, `float`
    - **Boolean Type:** `bool`
    - **Sequence Types:** `list`, `tuple`, `set`, `range`
    - **Mapping Types:** `dict`

    `type()`

- **Text Type**
    - **String functions**
        - `len()`: Returns the length of a string.
        - `str()`, `repr()`: Convert an object to a string representation.
        - `sorted()`: Sorts characters in a string and returns it as a new string.
        - `max()`, `min()`: Return the  maximum or minimum value from a string.
    - **String Methods**
        - `.lower(), .upper()`: Convert all characters in a string to lowercase or uppercase, respectively.
        - `.capitalize()`: Converts the first character in a string to capital letters.
        - `.find(substring)`: Returns the lowest index in the string where substring is found. If not found, returns -1.
        - `.count()`: Count how many times a substring appears in a string.
        - `.replace('substring', 'substring')`: Replace occurrences of one substring with another.
        - `.format()`, `f"{}"`: Format a string using placeholders and values provided by curly braces.

- **Numeric Types**
    - `int` : integer, positive or negative with unlimited length.
    - `float`: floating point number, can represent fractional numbers.
    - `complex`: complex number, consists of a float representing the real part and another float for the imaginary part.

    `casting functions`

- **Operators and Expressions**
  - Assignment operators: `=`, `+=`, `-=` etc.
  - Arithmetic operators (`+`, `-`, `*`, `/`, `**`, `//`, `%`) work with numeric types, except `+` it can work with strings as well.
  - Comparison operators (`==`, `<`, `<=`, `>`, `>=`) work with any data type that supports them (e.g., text vs numbers).
  - Logical operators: `&&`, `||` (logical AND, logical OR).

- **Boolean types:** `True`, `False`
---------------------

### **Sequence Types**
**`List []`**
- A collection of *mutable* items in a particular order.
- Lists are *dynamic* and can grow or shrink as needed.
- Supports efficient insertion/deletion at arbitrary locations.
- Can contain elements of any data type, including custom objects.
- They have zero-based.
- `list()` function is used to create a new list object.

**List Functions & Methods**
- `len()` : Returns the number of elements in the list.
- `max()` / `min()` : Return the maximum / minimum value from the list.
- `sum` : Calculate the sum of all values in the list.
- `del()` : Deletes the item at the given index.
- `.append(item)` : Add an element to the end of the list.
- `.extend([items])` : Add multiple items to the end of the list.
- `.insert(pos, item)` : Insert an element at a specific position.
- `.remove(item)` : Remove the first occurrence of a specified value. Raises an error if not found.
- `.pop()` : Remove and return an item at the given position. If no index provided, removes and returns the last item.
- `.clear()` : Removes all items from the list.
- `.copy()` : Returns a copy of the original list.
- `.count` : Count how many times an element appears in the list.
-  `.index()` : Find the first occurrence of a value in the list. If not found, raises an error.
- `.sort()` : Sort the list in ascending order.
- `.reverse()` : Reverse the sort order of the list.

**`Tuple ()`**
- Immutable, ordered collection of items.
- Cannot be modified after creation.
- Useful for fixed-size collections where the order of elements matter and you don't want them changed accidentally.
- Tuples can be used to group related data together. For example, **coordinates** (x, y) or **RGB** color values (red, green, blue).
- Can contain elements of any data type, including custom objects.
- They have zero-based.
- `tuple()` function is used to create a new tuble object.

**List Functions & Methods**
- `len()` : Returns the number of elements in the tuple.
- `max()` / `min()` : Return the maximum / minimum value from the tuple.
- `sum()` : Calculate the sum of all values in the tuple.
- `.count()` : Count how many times an element appears in the tuple.
-  `.index(value)` : Find the index position of a specific item within the tuple.

**`Set {}`**
- A collection of elements.
- The elements in a set are not stored in any particular order.
- Sets cannot contain duplicate elements.
- Can contain elements of any data type, including custom objects.
- They are not subscriptable, meaning you can't access individual elements using square brackets (`[]`).
- `set()` function is used to create a new set object.

**List Functions & Methods**
- `len()` : Returns the number of elements in the set.
- `max()` / `min()` : Return the maximum / minimum value from the set.
- `sum()` : Calculate the sum of all values in the set.
- `del()` : Deletes the item at the given index.
- `.add()` :Add an item to the set if not already present.
- `.update()` : Add multiple items to the set.
- `.remove()` : Remove a single specified item from the set.
- `.discard()` : Remove a single specified item from the set if it exists.
- `.pop()` : Remove and return an arbitrary item from the set.
- `.clear()` : Removes all items from the set.
- `.copy()` : Create a copy of the original set.
- `issubset()`, `issuperset()`: Check if one set is a subset or superset of another.
- `union()`, `intersection()`, `difference()`: Perform operations on sets.
--------------------

### **Mapping Types**
**`Dictionary {k:v}`**
- A collection of key-value pairs.
- The key-value pairs in a dictionary are not stored in any particular order.
- Keys in a dictionary must be unique, but values can be duplicated.
- Keys can be of any immutable data type, such as integers, strings, or tuples. Values can be of any data type, including custom objects.
- Dictionaries are subscriptable using keys ([]) to access individual values.
- `dict()` function is used to create a new dictionary object.

**Dictionary Functions & Methods**
- `len()` : Returns the number of key-value pairs in the dictionary.
- `del()` : Deletes the item with the specified key.
- `.keys()` : Returns a view object of all keys in the dictionary.
- `.values()` : Returns a view object of all values in the dictionary.
- `.items()` : Returns a view object of all key-value pairs (tuples) in the dictionary.
- `.get()` : Returns the value of the specified key. If the key does not exist, it returns None (or a default value if provided).
- `.pop()` : Removes and returns the value of the specified key. If the key does not exist, it raises a KeyError (or returns a default value if provided).
- `.popitem()` : Removes and returns an arbitrary key-value pair from the dictionary as a tuple.
- `.clear()` : Removes all key-value pairs from the dictionary.
- `.copy()` : Creates a shallow copy of the dictionary.
- `.update()` : Updates the dictionary with the specified key-value pairs from another dictionary or iterable of key-value pairs.
--------------------------

### **Control Statements**
`if..else`

-----------------------------------
-----------------------------------

# **Loops**
- Loops allow you to execute a block of code repeatedly.
- There are two types of loops that we can use inPython:
    - The `for` loop
    - The `while` loop

### **`For`**
A for loop is used when you know how many times you want to execute a block of code.

- **Iterating over a `range` of numbers:**

- **Iterating over characters in a `string`:**

- **Iterating over elements in a `list`:**

- **Iterating over `tuples`:**

- **Iterating over key-value pairs in a `dictionary`:**

### **`While`**

### **break - continue - pass**

-------------------------------------

In [13]:
txt = "Hello in AI and Data Science training in AMIT Learning"
print(txt[::-1])

gninraeL TIMA ni gniniart ecneicS ataD dna IA ni olleH

In [18]:
names = ['ali', 'amr', 'omar', 'aya', 'dalia']
names[::-1]

['dalia', 'aya', 'omar', 'amr', 'ali']

In [26]:
t = (25, 4)
t

(25, 4)

In [27]:
i1, i2, i3 = t

ValueError: not enough values to unpack (expected 3, got 2)

In [23]:
i3

6

# **Functions**
A block of code that is used more than once.

In [28]:
l = [1, 2, 3, 4, 5]
sum(l)

15

In [29]:
s = 0
for i in l:
    s += i

print(s)

15

In [30]:
l2 = [25, 34, 66, 3]
s = 0
for i in l2:
    s += i

print(s)

128

In [31]:
def summ(x):
    s = 0
    for i in x:
        s += i
    print(s)

In [38]:
def summ2(x):
    s = 0
    for i in x:
        s += i
    return s

In [40]:
l2 = [25, 34, 66, 3]
s = summ2(l2)

In [41]:
s

128

In [1]:
def factorial(num):
    f = 1
    for i in range(1, num + 1):
        f *= i

    return f

In [2]:
num = 5
f = 1
x = 1
while x <= num:
    f *= x
    x += 1

print(f)

120

In [3]:
num = 5
f = 1
while num > 0:
    f *= num
    num -= 1

f

120

In [4]:
def fact(num):
    f = 1
    while num > 0:
        f *= num
        num -= 1
    return f

In [5]:
fact(5)

120

In [45]:
f = factorial(5)
f

120

In [42]:
num = int(input())
f = 1
for i in range(1, num + 1):
    f *= i

print(f)

120

In [ ]:
def say_hello(names):
    for name in names:
        print(f"Hello, {name}!")

In [10]:
def say_hello(f):
    t = f()
    print('AI', t)

In [11]:
def ahla():
    return "Ahla"

In [12]:
say_hello(ahla)

AI Ahla

In [32]:
l2 = [25, 34, 66, 3]
summ(l2)

128

In [34]:
s = sum(l2)

In [35]:
s

128

In [36]:
s = summ(l2)

128

In [37]:
s

In [ ]:
n = 5

factorial = 1
while n > 0:
    factorial = factorial * n
    print(factorial)
    n -= 1

print("Factorial:", factorial)

In [ ]:
n = 6

factorial = 1
while n > 0:
    factorial = factorial * n 
    print(factorial)
    n -= 1

print("Factorial:", factorial)

In [ ]:
n = 8

factorial = 1
while n > 0:
    factorial = factorial * n   # 5  20  60  120  120
    print(factorial)
    n -= 1   # 4 3 2 1 0

print("Factorial:", factorial)

- Search about global and local function

In [ ]:
l = ['ali', 'amr', 'omar']
ll = len(l)

In [ ]:
ll

In [ ]:
def fact(n):

    factorial = 1
    while n > 0:
        factorial = factorial * n
        n -= 1

    return factorial

In [ ]:
fact(5)

In [ ]:
f

In [ ]:
factorial

In [ ]:
f = fact(5)

In [ ]:
f + 5

In [ ]:
def say_hello(name):
    print(f"Hello, {name}!")

In [ ]:
say_hello('omar')

In [ ]:
def greet():
    print("Hello, world!")

greet()  # Call the function

In [ ]:
greet()

In [ ]:
def shd_7ilk():
    print('Aaaaaaaaaaaaaaaaash')

shd_7ilk()

- **Add parameters**

In [ ]:
def greet(name='abdullah'):
    print("Hello,", name)

greet("Ali")
greet("Omar")
greet()

In [ ]:
def greet(name="world"):
    print("Hello,", name)

greet()  # Output: Hello, world!
greet("Hello")  # Output: Hello, Alice

In [ ]:
def say_hello():
    print("Hello!")

In [ ]:
h = say_hello()

In [ ]:
h

In [ ]:
s = "hd,mvc;smvsd;"
l = len(s)

In [ ]:
l

In [ ]:
h

In [13]:
def le(x):
    m = 0.2
    b = 1
    return m*x + b

In [14]:
le(25)

6.0

In [19]:
def merge_name(fname, lname):
    return fname + " " + lname

In [20]:
merge_name('ahmed', 'ali')

'ahmed ali'

In [21]:
def concat(fname, lname):
    data = {}
    for f in range(len(fname)):
        data[fname[f]] = lname[f]
    return data

In [22]:
fnames = ['ahmed', 'omar', 'amr', 'ali']
lnames = ['omar', 'amr', 'ali', 'ahmed']

concat(fnames, lnames)

{'ahmed': 'omar', 'omar': 'amr', 'amr': 'ali', 'ali': 'ahmed'}

In [ ]:
name = merge_name('ahmed', 'omar')

In [ ]:
name

In [ ]:
e = le(15)

In [ ]:
e

In [ ]:
l = [3, 5, 2, 8, 7, 9]
for i in l:
    print(le(i))

- **Add list as a parameter**

In [ ]:
x = 0
x += 1
x

In [ ]:
def sum_values(args): # [1, 3, 2, 5, 6]
    total = 0
    for num in args:
        total = total + num

    return total

In [ ]:
l = (1, 3, 2, 5, 6)
sum_values(l)
l

In [ ]:
r

In [ ]:
sum(l)

In [ ]:
def sum_values(*args):
    total = 0
    for num in args:
        total += num
    return total

print("Sum:", sum_values(1, 2, 3, 4, 5))

- **Add a tuple as a parameter**

In [ ]:
def print_tuple(my_tuple):
    for item in my_tuple:
        print(item)

# Example usage
my_tuple = (1, 2, 3, 4, 5)
print_tuple(my_tuple)

In [ ]:
def print_tuple(my_tuple):
    for item in my_tuple:
        print(item)

# Example usage
my_tuple = (1, 2, 3, 4, 5)
print_tuple(my_tuple)

- **Add dictionary as a parameter**

In [ ]:
def print_dictionary(my_dict):
    for key, value in my_dict.items():
        print(key, ":", value)

# Example usage
my_dict = {'a': 1, 'b': 2, 'c': 3}
print_dictionary(my_dict)

In [ ]:
try:
    x = 5
    print(x / 0)
except:
    print("Not allowed")

In [ ]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
result = num1 / num2
print("Result:", result)

In [ ]:
num1 = int(input("Enter a number: "))   # ahmed
num2 = int(input("Enter another number: "))
result = num1 / num2
print("Result:", result)

In [ ]:
try:
    num1 = int(input("Enter a number: "))   # ahmed
    num2 = int(input("Enter another number: "))
    result = num1 / num2
    print("Result:", result)
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
except ValueError:
    print("Error: Invalid input. Please enter a valid number.")
except Exception as e:
    print(f"{e} error occurred.")

- input
- output (print)
- variables
- datatype
    - string
    - integer
    - float
    - list
    - tuple
    - set
    - dictionary
    - boolean
- if..elif..else
- for loop
- while loop
- functions
- try..except

In [ ]:
try:
    print(5 / 0)
except:
    print('Error, You can\'t divide by zero')